<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/nm/bootstrap/dist/css/bootstrap.css">
    <script src="/nm/jquery/dist/jquery.min.js"></script>
    <script src="/nm/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/nm/vue/dist/vue.js"></script>
    <script src="/nm/vue-resource/dist/vue-resource.min.js"></script>
    <link rel="stylesheet" href="/nm/font-awesome/css/font-awesome.min.css">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>My Tasks</h2>
            <ul class="list-group">
                <li class="list-group-item" v-for="(task, index) in tasks">
                {{ task.name }}
                    <span class="pull-right">
                        <button class="btn btn-xs btn-danger" v-on:click="deleteTask(index)">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </span>
                </li>
            </ul>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="New Task" v-on:keyup.enter="createTask"
                       v-model="newTask.name">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" v-on:click="createTask">Create</button>
                </span>
            </div><!-- /input-group -->
        </div>
    </div>
</div>
</body>
<script src="/static/js/todo.js"></script>
</html>